<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">NIDO</title>
<link rel="stylesheet"

	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/iniciosession.css}"></link>
	<link rel="stylesheet" th:href="@{/js/iniciosession.js}"></link>

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>

     <a th:href="@{/registroAlumno}">
    			<button  type="button" class="btn btn-primary btn-block mt-3" style = "text-align: center">INICIAR SESIÓN</button>
  	</a>
      <!--  <p class="message">Not registered? <a href="#">Create an account</a></p> -->
    </form>
  </div>
</div>
