<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}">Insert title here</title>
	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
	<link rel="icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link th:href="@{/css/alumno/lista.css}" rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<div class="container-fluid">
		<div class="card border-dark">
			<h4 class="card-header"><strong>Listado de Alumnos</strong></h4>
			<div class="card-body">
				<a class="btn btn-dark" th:href="@{/registroAlumno}" role="button"><i class="fas fa-file"
						aria-hidden="true"></i> Nuevo Alumno</a>
				<hr>
				<div th:if="${msg!=null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th scope="col">DNI</th>
							<th scope="col">Nombres</th>
							<th scope="col">Apellidos</th>
							<th scope="col">Sexo</th>
							<th scope="col">Fecha Nacimiento</th>
							<th scope="col">Lugar Nacimiento </th>
							<th scope="col">País</th>
							<th scope="col">Dirección</th>
							<th scope="col">Religión</th>
							<th scope="col">Seguro</th>
							<th scope="col">Lugar Seguro </th>
							<th scope="col">Lengua Materna</th>
							<th scope="col">Segunda Lengua</th>
							<th scope="col">Hernmanos</th>
							<th scope="col">Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alu: ${alu}">
							<td scope="row" th:text="${alu.dnialu}"></td>
							<td th:text="${alu.nomalu}"></td>
							<td th:text="${alu.apealu}"></td>
							<td th:text="${alu.sexo}"></td>
							<td th:text="${alu.fecnac}"></td>
							<td th:text="${alu.lugarnac}"></td>
							<td th:text="${alu.pai.nompais}"></td>
							<td th:text="${alu.direcalu}"></td>
							<td th:text="${alu.religion.nomreli}"></td>
							<td th:text="${alu.asegurado}"></td>
							<td th:text="${alu.lugarseguro}"></td>
							<td th:text="${alu.lenguamater}"></td>
							<td th:text="${alu.segunlengua}"></td>
							<td th:text="${alu.numherma}"></td>
							<td>
								<a th:href="@{/registroAlumno/} + ${alu.dnialu}" class="btn btn-success btn-sm"
									role="button" title="Editar el registro."><i class="fas fa-pencil-alt"
										aria-hidden="true"></i></a>
								<a th:href="@{/eliminarAlumno/} + ${alu.dnialu}"
									onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm"
									role="button" title="Eliminar el registro."><i class="fas fa-trash"
										aria-hidden="true"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>

</html>