<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}">Insert title here</title>
	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
	<link rel="icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link th:href="@{/css/parentesco/lista.css}" rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<div class="container">
		<div class="card border-dark">
			<h4 class="card-header"><strong>Listado Parentesco</strong></h4>
			<div class="card-body">
				<a class="btn btn-dark" th:href="@{/agregarParentesco}" role="button"><i class="fas fa-file"
						aria-hidden="true"></i> Nuevo Parentesco</a>
				<hr>
				<div th:if="${msg!=null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th scope="col">DNI Alumno</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">DNI Apoderado</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Relación</th>
							<th scope="col">¿Vive con el niño?</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="parentesco: ${parentesco}">
							<td th:text="${parentesco.alumno.dnialu}"></td>
							<td th:text="${parentesco.alumno.nomalu}"></td>
							<td th:text="${parentesco.alumno.apealu}"></td>
							<td th:text="${parentesco.apoderado.dniapon}"></td>
							<td th:text="${parentesco.apoderado.nomapon}"></td>
							<td th:text="${parentesco.apoderado.apeapon}"></td>
							<td th:text="${parentesco.relacion}"></td>
							<td th:text="${parentesco.vivealu}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>

</html>